# BEGIN Remove www.
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.icuinparis.dev$ [NC]
RewriteRule ^(.*)$ http://icuinparis.dev/$1 [R=301,L]

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.icuinparis.com$ [NC]
RewriteRule ^(.*)$ http://icuinparis.com/$1 [R=301,L]
# END Remove www.

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

SetEnv MAGE_IS_DEVELOPER_MODE true