#RewriteEngine On
#RewriteCond %{HTTP_HOST} ^(www.)?icuinparis.dev$
#RewriteRule ^(/)?$ wp [L]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
