<?xml version="1.0"?>
<config>
	<modules>
		<BFM_Subscribe>
			<version>0.0.1</version>
		</BFM_Subscribe>
	</modules>
	
	<frontend>
		<routers>
			<bfmsubscribe>
				<use>standard</use>
				<args>
					<module>BFM_Subscribe</module>
					<frontName>bfmsubscribe</frontName>
				</args>
			</bfmsubscribe>
		</routers>
	</frontend>
</config>