<?xml version="1.0"?>
<config>
    <modules>
        <Icu_Fdesigners>
            <version>0.1.0</version>
        </Icu_Fdesigners>
    </modules>
    <frontend>
        <routers>
            <fdesigners>
                <use>standard</use>
                <args>
                    <module>Icu_Fdesigners</module>
                    <frontName>fdesigners</frontName>
                </args>
            </fdesigners>
        </routers>
        <layout>
            <updates>
                <fdesigners>
                    <file>fdesigners.xml</file>
                </fdesigners>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<fdesigners>
				<use>admin</use>
				<args>
					<module>Icu_Fdesigners</module>
					<frontName>fdesigners</frontName>
				</args>
			</fdesigners>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<fdesigners module="fdesigners">
				<title>Fdesigners</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="fdesigners">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>fdesigners/adminhtml_fdesigners</action>
					</items>
				</children>
			</fdesigners>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Icu_Fdesigners>
							<title>Fdesigners Module</title>
							<sort_order>10</sort_order>
						</Icu_Fdesigners>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<fdesigners>
					<file>fdesigners.xml</file>
				</fdesigners>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <fdesigners>
                <class>Icu_Fdesigners_Model</class>
                <resourceModel>fdesigners_mysql4</resourceModel>
            </fdesigners>
            <fdesigners_mysql4>
                <class>Icu_Fdesigners_Model_Mysql4</class>
                <entities>
                    <fdesigners>
                        <table>fdesigners</table>
                    </fdesigners>
                </entities>
            </fdesigners_mysql4>
        </models>
        <resources>
            <fdesigners_setup>
                <setup>
                    <module>Icu_Fdesigners</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fdesigners_setup>
            <fdesigners_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fdesigners_write>
            <fdesigners_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fdesigners_read>
        </resources>
        <blocks>
            <fdesigners>
                <class>Icu_Fdesigners_Block</class>
            </fdesigners>
        </blocks>
        <helpers>
            <fdesigners>
                <class>Icu_Fdesigners_Helper</class>
            </fdesigners>
        </helpers>
    </global>
</config>