<?xml version="1.0"?>
<config>
    <modules>
        <Icu_Designs>
            <version>0.1.0</version>
        </Icu_Designs>
    </modules>
    <frontend>
        <routers>
            <designs>
                <use>standard</use>
                <args>
                    <module>Icu_Designs</module>
                    <frontName>designs</frontName>
                </args>
            </designs>
        </routers>
        <layout>
            <updates>
                <designs>
                    <file>designs.xml</file>
                </designs>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<designs>
				<use>admin</use>
				<args>
					<module>Icu_Designs</module>
					<frontName>designs</frontName>
				</args>
			</designs>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<designs module="designs">
				<title>Designs</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="designs">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>designs/adminhtml_designs</action>
					</items>
				</children>
			</designs>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Icu_Designs>
							<title>Designs Module</title>
							<sort_order>10</sort_order>
						</Icu_Designs>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<designs>
					<file>designs.xml</file>
				</designs>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <designs>
                <class>Icu_Designs_Model</class>
                <resourceModel>designs_mysql4</resourceModel>
            </designs>
            <designs_mysql4>
                <class>Icu_Designs_Model_Mysql4</class>
                <entities>
                    <designs>
                        <table>designs</table>
                    </designs>
                </entities>
            </designs_mysql4>
        </models>
        <resources>
            <designs_setup>
                <setup>
                    <module>Icu_Designs</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </designs_setup>
            <designs_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </designs_write>
            <designs_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </designs_read>
        </resources>
        <blocks>
            <designs>
                <class>Icu_Designs_Block</class>
            </designs>
        </blocks>
        <helpers>
            <designs>
                <class>Icu_Designs_Helper</class>
            </designs>
        </helpers>
    </global>
</config>