/* CSS Document */

@charset "utf-8";

@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/gotham-light.eot');
    src: url('../fonts/gotham-light.eot') format('embedded-opentype'),
         url('../fonts/gotham-light.woff') format('woff'),
         url('../fonts/gotham-light.ttf') format('truetype'),
         url('../fonts/gotham-light.svg#GothamRegular') format('svg');
}
@font-face {
    font-family: 'JosefinSansStdLight';
    src: url('../fonts/JosefinSansStd-Light-webfont.eot');
    src: url('../fonts/JosefinSansStd-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/JosefinSansStd-Light-webfont.woff') format('woff'),
         url('../fonts/JosefinSansStd-Light-webfont.ttf') format('truetype'),
         url('../fonts/JosefinSansStd-Light-webfont.svg#JosefinSansStdLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* General Styles */

a,p,h2,h3,h4,h5,h6,li,div{
	font-family: "Gotham-Light", sans-serif;
}
h3{
	text-transform: uppercase;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	border-radius: 0;
	border: none;
	background-color: #e6e6e6;
	padding:8px;
	font-size: 1.3em;
}


* {margin:0; padding:0;}

img {margin:0; padding:0; outline-style:none; outline-width:0; }

input {margin:0; padding:0; outline-style:none; outline-width:0; }



a, a:hover, a:active, a:focus { outline:none; outline-style:none; outline-width:0;}

button:focus::-moz-focus-inner, input[type="reset"]:focus::-moz-focus-inner, input[type="button"]:focus::-moz-focus-inner, input[type="submit"]:focus::-moz-focus-inner,input[type="file"] > input[type="button"]:focus::-moz-focus-inner {border: 1px dotted transparent;}


html{
	background-color: #545454;
}
body {
	background-color: white;
	margin:0; 
	padding:0; 
	font-family:Arial, Helvetica, sans-serif; color:#000000;
}



.clr { font-size:0; height:0; line-height:0; clear:both;}




input[type="button"].btn01 {margin:0; padding:0; width:160px; height:30px; background:url(../images/btn-01.gif) no-repeat top; border:none; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#FFFFFF; text-transform:uppercase; cursor:pointer;}


.icu-btn{
	background-color: #84BCBC;
	font-family: "Gotham-Light", sans-serif;
	text-transform: uppercase;
	font-size: 2.0em;
	margin: 10px;
	padding: 20px;
	color: white;
	border: none;
}
input[type="submit"].btn01 {
	margin:0; 
	padding:0; 
	width:160px; 
	height:30px; 
	background:url(../images/btn-01.gif) no-repeat top; 
	border:none; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:11px; color:#FFFFFF; 
	text-transform:uppercase; 
	cursor:pointer;
}



/* ---------------------------- Header Styles ---------------------------- */
#wrapper{ 
	padding-top:0;
	position: relative;
}
#store_subnav_wrapper{

	position:absolute;
	z-index: 100;
	top: 10px;
	right: 0;
}
#store_subnav{
	float:right;
}
#store_subnav a{
	color: #000;
	font-size: 1.2em;
}
	
	/* keyword */
#store_subnav li{
	display: inline-block; 
	padding: 2px 6px;
	line-height: 12px;
}
.piped{
	border-right: solid 1px black;
}
	#keyword {
		margin:0; 
		padding:0; 
	}

	#keyword input[type="text"] {
		margin:0; 
		padding:4px 4px; 
		width:170px; 
		background-color:#E6E6E6; 
		border-radius: 0;
		font-family:Arial, Helvetica, sans-serif; 
		color:#bcbcbc; 
		font-size:1.1em;
		border: none;
	}

	#keyword input[type="text"]:focus {border:1px solid #999999; color:#999999;}

	#keyword .box01 {margin:0 5px 0 0; padding:0; width:200px; height:auto; float:left;}

	#keyword .box02 {margin:1px 0 0 0; padding:0; width:42px; height:auto; float:left;}

	#keyword input[type="submit"] {
		margin:0; 
		padding:0; 
		width:85px; 
		height:28px; 
		border:none;
		background-color: #84bcbc; 
		font-family:Arial, Helvetica, sans-serif; 
		color:#fff; 
		font-size:9px; 
		line-height:20px; 
		text-transform:uppercase; 
		cursor:pointer;
		box-shadow: none;
	}
#search_mini_form {


}
#select-language{
	display: none;
}
.b-style-dropdown {
	padding-left: 5px;
}

.b-style-dropdown span { padding: 0; margin: 0; }

.b-style-dropdown_state_close .b-style-dropdown__inner {
    display: none;
}

.b-style-dropdown_state_open .b-style-dropdown__inner {
    display: block;
}

.b-style-dropdown__placeholder {
    color: #666;
}

.b-style-dropdown__flag {
    display: inline-block;
    margin: 0 3px 0 10px;
    vertical-align: middle;
    height: 18px;
    /* IE7 hack */
    *display:inline;
    *zoom:1;
}

.b-style-dropdown__flag IMG {
    vertical-align: top;
}

.b-style-dropdown__currentcy {
    color: #000;
}

.switcher-btn {
    display: inline-block;
    overflow: hidden;
    margin: 0 0 0 5px;
    vertical-align: middle;
    width:10px;
    height: 10px;
    text-decoration: none;
    text-indent: 99px;
    background: transparent url(../images/b-style-dropdown__button.png) no-repeat 0 2px;
    /* IE7 hack */
    *display:inline;
    *zoom:1;
}

.b-style-dropdown__inner {
    position: absolute;
    display: block;
    padding: 15px 15px 10px;
    top: 25px;
    right: 0;
    font-size: 10px;
    text-align: left;
    background: #f7f7f7;
    background: rgba(247,247, 247, .98);
    -webkit-box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.2);
}

.b-style-dropdown__inner STRONG,
.b-style-dropdown__list__item {
    text-transform: uppercase;
}

.b-style-dropdown__inner STRONG {
    display: block;
    margin: 10px 0 0;
    padding: 10px 0 0;
    border-top: 1px solid #000;
}

.b-style-dropdown__inner STRONG:FIRST-CHILD {
    margin: 0;
    padding: 0;
    border-top: none;
}

.b-style-dropdown__list {
    margin: 5px 0 0;
}

.b-style-dropdown__list__item {
    margin: 2px 0;
}

.b-style-dropdown__list__icon {
    display: inline-block;
    vertical-align: top;
    width: 25px;
    /* IE7 hack */
    *display:inline;
    *zoom:1;
}

.b-style-dropdown__list__link {
    display: block;
    text-decoration: none;
    width: 100%;
    color: #666;
    text-decoration: none;
}

.b-style-dropdown__list__link:HOVER,
.b-style-dropdown__list__link_state_current{
    color: #000;
}

/* ---------------------------- Navigation Styles ---------------------------- */

#navigation_section {margin:0 auto; padding:0; width:960px; height:22px; background-color:#000000; left: -1px;}
.pages ol li{
	display: inline;
}


/* ---------------------------- Body Styles ---------------------------- */

#body_section {margin:0 auto; padding:0; width:962px; height:auto;position:relative;z-index:2}

.std{ 
	padding-top: 35px;
}
	/* body container */



	/* brand container */

	#brand_container {margin:0; padding:0; width:100px; height:auto; float:right; position:relative;}

	.Container {position:absolute; top:40px; left:0; width:100px; height:500px;}

	#Scroller-1 {position:absolute; overflow:hidden; width:100px; height:500px;}

	#Scroller-1 .box {margin:0; padding:0 0 1px 0; width:100px; height:100px; text-align:center; background:url(../images/line.gif) no-repeat bottom;}

	.Scroller-Container {position:absolute; top:0px; left:0px;}

	.Scrollbar-Up {cursor:pointer; position:absolute; top:-20px; left:36px;}

	.Scrollbar-Down {cursor:pointer; position:absolute; top:510px; left:36px;}

	#product_images {position:relative; left:0px; top:15px; width:125px; height:450px;}

	#product_bigimg {position:relative; left: 25px; top:15px; width:375px; height:450px; }

	#product_container {margin:0; padding-top:45px; width:400px; height:auto; float:left; position:relative;}

	#product_details {position:relative; left:0px; top:0px; margin:0; padding:0; width:950px; min-height:600px; float:left;}

	.Container2 {position:relative; top:45px; right:0px; left:0px; width:160px; height:300px; float:left;}

	#Scroller-2 {position:absolute; left:0px; overflow:hidden; width:120px; height:300px; float:left;}

	#Scroller-2 .box2 {margin:0; padding:0 10px; width:100px; height:107px; margin-top:5px; margin-left:30px; text-align:center;}

	.Scroller-Container2 {position:absolute; top:0px; left:0px;}

	.Scrollbar-Up2 {cursor:pointer; position:absolute; top:25px; left:0px; -webkit-transform: rotate(270deg); -moz-transform: rotate(270deg); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
 }

	.Scrollbar-Down2 {cursor:pointer; position:absolute; top:25px; left:350px; -webkit-transform: rotate(270deg); -moz-transform: rotate(270deg); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}



	#pro_img_section {margin:0 0 0 220px; padding:0; width:450px; height:auto; float:left;}

	#pro_img_section .big_img {margin:0; padding:0 0 0 0; width:400px; height:350px; float:left; text-align:center;}

	#pro_img_section .other_img {margin:0; padding:0; width:400px; height:200px; float:left; text-align:center;}

	#pro_img_section .other_img ul.link {margin:0 auto; padding:0; list-style:none;}

	#pro_img_section .other_img ul.link li {font:normal 12px/40px Arial, Helvetica, sans-serif; color:#666666; float:left;}

	#pro_img_section .other_img ul.link li a {color:#666666; text-decoration:none; padding:0 42px; display:inline-block;}

	#pro_img_section .other_img ul.link li a:hover {color:#333333;}

	#pro_img_section .other_img ul.othpro {margin:0 auto; padding:0; list-style:none;}

	#pro_img_section .other_img ul.othpro li {margin:0; padding:16px; width:100px; height:auto; float:left; display:block;}



#media_table{}

	#pro_des_section {
		margin:0 0 0 0; 

		height:auto; 
		float:right;
	}

	#pro_des_section h2 { 
		font-family: "Gotham-Light", sans-serif; 
		font-weight:bold; 
		font-size: 2.0em;
		text-transform: uppercase;
		color:#000000; 
		padding-top:0px; 
		margin:0; 
		line-height: 2.0em;
	}
	#pro_des_section h3 {
		font-family: "Gotham-Light", sans-serif;
		font-size: 2.7em;
		font-weight: normal;
		text-transform: uppercase;
		color:#000000;
		padding: 0;
		margin: 0;
	}
#product_detail_boxes{
	position: relative;
}
	.product-detail-box{
		background-color: #f6f6f6;
		padding-top: 26px;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 15px;
		position: relative;
		height: 130px;
	}
	.product-detail-box h5, .product-detail-box p{
		font-family: "Gotham-Light", sans-serif;
		margin-left: 15px;
		margin-right: 10px;

	}
	.product-detail-box h5{
		font-size: 1.3em;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 0;
	}
	.product-detail-box p{
	
		font-size: 1.2em;

	}
	.product-detail-box .learn-more-btn{
		font-family: "Gotham-Light", sans-serif;
		font-size: 1.2em;
		font-weight: bold;
		text-transform: uppercase;
		position: absolute;
		bottom: 15px;
		right: 15px;
	}
	#pro_des_section h3 a:hover { }

	#pro_des_section p {font:normal 12px/16px Arial, Helvetica, sans-serif; color:#000000;}

	#pro_des_section input[type="text"] {

	background-color: #E6E6E6;
	border-radius: 0;
	margin: 5px;
	padding: 10px;
	border: none;
	box-shadow: none;
		text-align:center;
	}

	.shippingtitle {font:"GeosansLight"; color:#000000;}

	.standardbutton {

	}

	.prodtitlelink:link {
		font:Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#000000;
		text-decoration:none;
	}

	.prodtitlelink:active {
		font:Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#00000;
		margin: 6px 0 0 0;
		text-decoration:none;
	}

	.prodtitlelink:visited {
		font:Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#000000;
		text-decoration:none;
		margin: 6px 0 0 0;
	}

	.prodtitlelink:hover {
		font:Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#666666;
		text-decoration:none;
		margin: 6px 0 0 0;
	}

	.prodtitlelink2:link {
		font:Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#000000;
		text-decoration:none;
	}

	.prodtitlelink2:active {
		font:Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#000000;
		text-decoration:none;
	}

	.prodtitlelink2:visited {
		font:Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#000000;
		text-decoration:none;
	}

	.prodtitlelink2:hover {
		font:Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#666666;
	}

	.prodprice {
		font:Arial, Helvetica, sans-serif;
		font-size:14px;
		color:#000000;
		text-decoration:bold;
	}

	.backlink {
		font:Arial, Helvetica, sans-serif;
		padding: 5px 14px;
		color:#666666;
		text-decoration:none;
	}



.pro_box{
	margin-left: 10px !important;
}


.scrollArea {
	width: 150px;
	height: 200px;
	border-style: none;
	float: left;
	overflow: auto;
}

/* subscribe-left */
	.subscribe-left-block {margin-top:50px; padding:0; height:auto; text-decoration:none;}
	.subscribe-borders {
		padding: 15px 0; width:180px; border-top: 1px solid #999999; 
		overflow:hidden;
	}
	.subscribe-header {
		margin:0; 
		padding:0; 
		height:auto; 
		font-size:2.0em; 
		font-family:"JosefinSansStdLight";
		text-transform: uppercase; 
		color:#000000;
	}

	
	.newsletter-elements {clear:both;}
	.subscribe-content {margin:0 0 10px 0; font: 11px/14px Arial,Helvetica,sans-serif; color: #999999;}
	.newsletter-elements input[type="text"], .newsletter-elements input[type="email"] {
		float:left; 
		margin:0; 
		padding:2px 4px; 
		width:140px; 
		height:auto; 
		background-color:#E6E6E6; 
		border:none;
		height:20px;
		border-radius: 0; 
		font-family:Arial, Helvetica, sans-serif; 
		color:#bcbcbc; 
		font-size:11px;
	}
	.subscribe-button {float:left; background: none repeat scroll 0 0 transparent; border: 0 none; cursor: pointer; margin: 0; overflow: visible; padding: 0; width: auto;}
	.subscribe-button::-moz-focus-inner { padding:0; border:0; }
	.subscribe-button { -webkit-border-fit:lines; }

/* gobacklink */
	.gobacklink:link {font:Arial, Helvetica, sans-serif; font-size:11px; color:#666666; text-decoration:underline; }
	.gobacklink:active {font:Arial, Helvetica, sans-serif; font-size:11px; color:#666666; text-decoration:none; }
	.gobacklink:visited {font:Arial, Helvetica, sans-serif; font-size:11px; color:#666666; text-decoration:none; }
	.gobacklink:hover {font:Arial, Helvetica, sans-serif; font-size:11px; color:#333333; text-decoration:none; }

/* product options */
	.product-options dt label {color: #000000; font-weight: normal; font-family: Arial,Helvetica,sans-serif; font-size: 13px; margin: 0; }
	.product-options dd select {border: 1px solid #000000; }

/* ---------------------------- Footer Styles ---------------------------- */
#toolbarbottom {margin:10px 30px 10px 0}
#footer_section {
	/*margin:0 auto; padding:0; width:960px; height:75px; border-top:1px solid #dbdbdb;*/
}

	#footer_ad { margin 0; padding: 5px 0 0 0; width:734px; height: 75px; }

	/* footer links */

	#footer_link {margin:0; padding:5px 0 0 0; width:445px; height:auto; float:left; font:normal 11px/30px Arial, Helvetica, sans-serif; color:#999999; text-transform:uppercase;}

	#footer_link a {color:#999999; text-decoration:none;}

	#footer_link a:hover {color:#333333; text-decoration:none;}

	#footer_link span {padding:0 8px;}
	
	/* share */

	#share {margin:0; padding:5px 0 0 0; width:120px; height:auto; float:left; font:normal 11px/30px Arial, Helvetica, sans-serif; color:#000000;}

	#share ul {margin:0; padding:0; list-style:none;}

	#share ul li {margin:0 3px; padding:0; width:18px; height:18px; float:left; text-align:center;}

	#share ul li img {margin:6px 0;}



	/* copyright */

	#copyright {margin:0; padding:0; width:auto; height:auto; float:left; font:normal 11px/24px "Times New Roman", Times, serif; color:#000000;}

	/* ---------------------------- Men Styles ---------------------------- */

	#men {margin:0; padding:0; width:960px; height:600px; position:relative; background:url(../images/men-img01.jpg) no-repeat 0 0;}

		#men #tag {width:auto; height:auto; position:absolute; top:20px; left:67px; font:normal 36px/40px "Gotham-Light"; color:#000000; font-style:italic;}

		#men #tag span {font:normal 20px/30px "Gotham-Light"; color:#000000; padding-left:170px;}

		#men #brand {width:auto; height:auto; position:absolute; top:155px; left:470px;}

		#men #brand .brooklyn {font:normal 18px/32px "AmerType Md BT"; color:#000000;}

		#men #brand .brooklyn a {color:#000000; text-decoration:none;}

		#men #brand .brooklyn a:hover {color:#999999;}

		#men #brand .rocked {font:bold 16px/32px "vtks Rude Metal"; color:#000000;}

		#men #brand .rocked a {color:#000000; text-decoration:none;}

		#men #brand .rocked a:hover {color:#999999;}

		#men #brand .clean {font:normal 20px/32px "ER Architect 866"; color:#000000;}

		#men #brand .clean a {color:#000000; text-decoration:none;}

		#men #brand .clean a:hover {color:#999999;}

		#men #brand .class {font:bold 20px/32px "Maharlika"; color:#000000;}

		#men #brand .class a {color:#000000; text-decoration:none;}

		#men #brand .class a:hover {color:#999999;}



		#men #man01 {width:113px; height:331px; position:absolute; right:174px; bottom:70px;}

		#men #man02 {width:130px; height:408px; position:absolute; right:167px; bottom:4px;}

		#men #man03 {width:111px; height:407px; position:absolute; right:170px; bottom:4px;}

		#men #man04 {width:204px; height:347px; position:absolute; right:170px; bottom:70px;}



	/* ---------------------------- Women Styles ---------------------------- */

	#body_section2 {margin:0 auto; padding:0; width:100%; height:auto; background:url(../images/women-img01.jpg) no-repeat top;}

	#women {margin:0 auto; padding:0; width:960px; height:510px; position:relative; background:url(../images/women-img01.jpg) no-repeat top;}

	#women #tag {width:auto; height:auto; position:absolute; top:40px; left:10px; font:normal 36px/40px "Gotham-Light"; color:#000000; font-style:italic;}

	#women #tag span {font:normal 20px/30px "Gotham-Light"; color:#000000; padding-left:90px;}

	#women #brand {width:auto; height:auto; position:absolute; top:200px; left:380px;}

	#women #brand .boho {font:normal 36px/40px "PetraScriptEF-Alternate"; color:#000000;}

	#women #brand .boho a {color:#000000; text-decoration:none;}

	#women #brand .boho a:hover {color:#999999;}

	#women #brand .classic {font:normal 24px/30px "Times New Roman", Times, serif; color:#000000;}

	#women #brand .classic a {color:#000000; text-decoration:none;}

	#women #brand .classic a:hover {color:#999999;}

	#women #brand .luxe {font:bold 24px/45px "Edwardian Script ITC"; color:#000000;}

	#women #brand .luxe a {color:#000000; text-decoration:none;}

	#women #brand .luxe a:hover {color:#999999;}

	#women #brand .savvy {font:bold 24px/30px "Honey I Stole Your Jumper"; color:#000000; padding-top:4px;}

	#women #brand .savvy a {color:#000000; text-decoration:none;}

	#women #brand .savvy a:hover {color:#999999;}

	#women #brand .rocked {font:bold 18px/30px "vtks Rude Metal"; color:#000000;}

	#women #brand .rocked a {color:#000000; text-decoration:none;}

	#women #brand .rocked a:hover {color:#999999;}



	#women #women01 {width:85px; height:326px; position:absolute; left:223px; bottom:5px;}

	#women #women02 {width:94px; height:309px; position:absolute; left:210px; bottom:13px;}

	#women #women03 {width:116px; height:334px; position:absolute; left:215px; bottom:7px;}

	#women #women04 {width:106px; height:322px; position:absolute; left:194px; bottom:4px;}

	#women #women05 {width:116px; height:310px; position:absolute; left:210px; bottom:4px;}



	

	#store_list {
		padding-top: 50px;
	}

	#tagline2 {margin:0; padding:30px 0; width:960px; height:auto; float:left;}

	#tagline2 .left {margin:0; padding:0; width:auto; height:auto; float:left; font:normal 30px/30px "GeosansLight"; color:#000000; cursor:pointer; text-decoration:none;}

	#tagline2 .left:hover {text-decoration:none;}

	#tagline2 .right {margin:0; padding:0; width:auto; height:auto; float:right; font:normal 12px/40px Arial, Helvetica, sans-serif; color:#000000;}

	#tagline2 .right a {color:#666666; text-decoration:none; padding:0 3px;}

	#tagline2 .right a:hover {color:#333333; text-decoration:none;}

	#tagline222 {margin:0; padding:30px 0 0 0px; width:960px; height:auto; float:left;}

	#tagline222 .left {margin:0; padding:0; width:auto; height:auto; float:left; font:normal 30px/30px "GeosansLight"; color:#000000; cursor:pointer; border-bottom:thin; border-bottom-color:#333;}

	#filternavtext { position:relative; z-index:111; margin:0px 0 0 0; padding:0px 0 0 0; width:100%; height:auto; float:left; text-align:right; font:10px/12px Arial, Helvetica, sans-serif; color:#666666; border-bottom:thin; border-bottom-color:#333; }

	#filternavtext a { font:10px/12px Arial, Helvetica, sans-serif; color:#666666; font-weight:bold; text-decoration:none;}

	#filternavtext a:hover {font:10px/12px Arial, Helvetica, sans-serif; font-weight:bold; text-decoration:none; color:#000;}


	#content2 {
		margin:-18px 0 0 0; 
		padding:20px 0 0 0; 
		width:755px; 
		height:auto; 
		float:left; 
		/*border-left:1px solid #ccc;*/
	}

	#content2 .pro_box {margin:0 0 0 40px; padding:0 0 0 0; width:205px; height:397px; float:left; text-align:center;}

	#content2 .contentad {margin:0 0 0 64px; padding:0 0 0 0; width:615px; float:left; text-align:right;}

	.tooltip {
		display:none;
		background: url(../images/rightarrow.png);
		font-size:12px;
		height:12px;
		width:55px;
		padding:0;
		color:#fff;
	}
#product_info.nav li{
	border: none;

}
#product_info a{
	font-family: "Gotham-Light", sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	color: black;
	text-transform: uppercase;
	border-radius: 0;
}
.nav-pills > .active > a, 
.nav-pills > .active > a:hover, 
.nav-pills > .active > a:focus {
  background-color: #fff;
  border-bottom: 3px solid #ccc;
}
	.product_popup {margin:0; padding:0; width:425px; height:520px;}

	.product_desc {margin:0; padding:0; width:300px; height:auto; float:left;}

	.product_desc .img_box {margin:0; padding:25px 0 0 0; width:300px; height:250px; text-align:center;}

	.product_desc .txt_box {margin:0; padding:0 50px; width:200px; height:auto;}

	.product_desc .txt_box h2 {font:bold 16px/20px Arial, Helvetica, sans-serif; color:#000000;}

	.product_desc .txt_box h2:hover {text-decoration:underline;}

	.product_desc .txt_box h3 {font:bold 12px/18px Arial, Helvetica, sans-serif; color:#000000;}

	.product_desc .txt_box h3:hover {text-decoration:underline;}

	.product_desc .txt_box h4 {font:normal 13px/24px Arial, Helvetica, sans-serif; color:#000000;}

	.product_desc .txt_box h4 a {color:#000000; text-decoration:none; font-weight:bold;}

	.product_desc .txt_box h4 a:hover {color:#990000; text-decoration:underline;}

	.product_desc .txt_box p {font:normal 11px/14px Arial, Helvetica, sans-serif; color:#000000;}

	.product_desc .button {margin:0; padding:0; width:425px; height:30px; float:left;}



	.product_slider {margin:0; padding:0; width:auto; height:125px; float:right; position:relative;}

	.Container3 {position:absolute; top:60px; right:0; width:120px; height:300px;}

	#Scroller-3 {position:absolute; overflow:hidden; width:300px; height:120px;}

	#Scroller-3 .box3 {margin:0; padding:0 10px; width:100px; height:100px; text-align:center;}

	.Scroller-Container3 {position:absolute; top:0px; left:0px;}

	.Scrollbar-Up3 {cursor:pointer; position:absolute; top:-20px; left:50px;}

	.Scrollbar-Down3 {cursor:pointer; position:absolute; top:310px; left:50px;}



	#all_designer {margin:0 auto; padding:0; width:960px; height:auto;}

	#tagline3 {margin:0; padding:20px 0; width:960px; height:auto; float:left; font:normal 31px/40px "Gotham-Light"; color:#000000;}

	#sidemenu3 {margin:2px 0 0 0; padding:0; width:209px; height:424px; float:left; }

	#sidemenu3 ul {margin:20px; padding:0; list-style:none;}

	#sidemenu3 ul li {margin:0; padding:0; font:normal 12px/30px "Gotham-Light"; color:#000000; text-transform:uppercase;}

	#sidemenu3 ul li a {color:#999999; text-decoration:none;}

	#sidemenu3 ul li a:hover, #sidemenu3 ul li a.active {color:#000000; text-decoration:none;}

	#content3 {padding:15px 0 0 4px;margin:2px 0 20px; width:746px; height:auto; float:left; border-left:1px solid #999999;}

	#content3 .designer_design {margin:0; padding:0;display:block;border:none}

	#content3 .designer_design img {display:block}


#design-submit-form {
	width: 575px;	
	padding:0; 
	height:auto; 
	min-height:530px;
	display: block;
}
 #submit_designs_header h2{
 	font-family: "JosefinSansStdLight", sans-serif;
 	text-transform: uppercase;
 	font-size: 5.0em;
	color:#333333;
 }

#submit_designs_header p, #design-submit-form p{
	font-family: 'Gotham-Light',sans-serif;
	font-size: 1.5em;
	color: #333;
}

.form_section {
	margin:0; 
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 20px;
}
.form_section h4{
	font-size: 2.5em;
	text-transform: uppercase;
	font-family: 'Gotham-Light', sans-serif;
	color: #333;
	margin-bottom: 20px;
	margin-top: 20px;
}
#submit_designs_header { 
	margin-bottom: 50px;
}

	#button {margin:0; padding:0 0 20px 0; width:960px; height:auto; float:left; text-align:center;}

.form_section input[type="text"] {
	background-color: #e6e6e6;
	height: 38px;	
	font-family:'Gotham-Light', Helvetica, sans-serif; 
	font-size: 1.3em;
	outline: 0;
	color:#333333; 
	border-radius: 0;
	 -moz-border-radius:0;
	 padding: 0;
	 padding-left: 17px;
	 margin-right: 10px;
	 margin-bottom: 13px;
}
	
	.form_section input[type="password"] {margin:0; padding:2px; width:auto; height:auto; background-color:#FFFFFF; border:1px solid #000000; font-family:Arial, Helvetica, sans-serif; color:#000000; font-size:11px;}

.form_section label{
	font-family:'Gotham-Light', Helvetica, sans-serif; 
	font-size: 1.3em;
	outline: 0;
	color:#333333; 
}
.form_section textarea {
	background-color:#e6e6e6; 
	font-family:'Gotham-Light', Helvetica, sans-serif; 
	color:#333; 
	font-size:1.3em; 
	overflow:auto;
}

.form_section .styled-select select {
	background: transparent;
	padding: 5px;
	font-size: 1.2em;
	color: #333;
	line-height: 1;
	border: 0;
	border-radius: 0;
	 -moz-border-radius:0;
	height: 38px;
	-webkit-appearance: none;
	font-family:'Gotham-Light', Helvetica, sans-serif; 
	outline: 0;
	padding-top: 8px;
}
.form_section .styled-select {
	margin:0; 
	padding:0px 5px; 
	border: 1px solid #ccc;
	color:#333333; 
	font-size:1.3em;
	height: 38px;
	overflow: hidden;
	background: url('../images/teal-arrow.png') no-repeat 250px #e6e6e6;
	outline: 0;
	}

.form_section input[type="file"] {
	border-radius: 0;
 -moz-border-radius:0;
	margin:1px 0; 
	padding:2px; 
	width:auto; 
	height:auto; 
	background-color:#99cccc; 
	font-family:'Gotham-Light', Helvetica, sans-serif; 
	color:#fff; 
	font-size:1.3em;
}

#submit_design_btn{
	color: white;
	background-color:#99cccc; 
	font-family:'Gotham-Light', Helvetica, sans-serif; 
	text-transform: uppercase;
	font-size: 2.2em;
	padding:13px;
}


#signin_panel{
	border-right: solid 1px #ccc;
	padding-right: 50px;
}
#signup_panel{
	margin-left: 50px;
}


	.stepcarousel3 {position: relative; overflow:hidden; width:100px; height:500px; margin:50px auto; padding:0;}

	.stepcarousel3 .belt3 {position: absolute; left: 0; top: 0;}

	.stepcarousel3 .panel3 {float: left; overflow: hidden; margin:0; width:100px; height:101px; text-align:center; background:url(../images/line.gif) no-repeat bottom;}



	#customer_service {margin:0 auto; padding:0; width:960px; height:auto; min-height:550px;}

	#tagline5 {margin:0; padding:0; width:960px; height:auto; float:left; font:normal 37px/94px "Gotham-Light"; color:#000000;}

	#proddetailsbaseboxes { font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#333;}

	#proddetailsbaseboxes a { font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; color:#333; text-decoration:none }

	#proddetailsbaseboxes a:hover { font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; color:#000;  text-decoration:none }

	#proddetailsbaseboxes td {}

	#proddetailsbaseboxes div {}

	#proddetailsbaseboxes img { }

	#proddetailsbaseboxes .large {font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; }

	#proddetailsbaseboxes .small {font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; }

	#sidemenu5 {margin:0; padding:0 0 0 12px; width:203px; height:530px; float:left; background:url(../images/gradient3.gif) no-repeat right top;}

	#sidemenu5 ul {margin:0; padding:0; list-style:none;}

	#sidemenu5 ul li {margin:0; padding:0; font:normal 10px/21px "Gotham-Light"; color:#000000; text-transform:uppercase;}

	#sidemenu5 ul li a {color:#999999; text-decoration:none;}

	#sidemenu5 ul li a:hover, #sidemenu5 ul li a.active {color:#000000; text-decoration:none;}

	#content5 {margin:0; padding:0; width:745px; height:auto; float:left;}



	#popup {margin:0; padding:0; width:740px; height:480px; background:url(../images/popup.gif) no-repeat top;}

	#popup .heading {margin:0; padding:0; width:728px; height:22px; font:normal 12px/22px Arial, Helvetica, sans-serif; color:#000000; text-transform:uppercase; text-align:center;}

	.content_area {margin:0; padding:10px; width:700px; height:440px; overflow:auto;}

	.content_area h4 {font:bold 12px/20px Arial, Helvetica, sans-serif; color:#000000; text-transform:uppercase; padding-bottom:4px;}

	.content_area p {font:normal 12px/16px Arial, Helvetica, sans-serif; color:#000000;}

	.content_area p a {color:#999999; text-decoration:none;}

	.content_area p a:hover {color:#000000;}



	.content_area ul.list01 {margin:0 0 0 50px; padding:0; list-style:none;}

	.content_area ul.list01 li {font:normal 11px/24px Arial, Helvetica, sans-serif; color:#999999;}

	.content_area ul.list01 li a {color:#999999; text-decoration:none;}

	.content_area ul.list01 li a:hover {color:#000000;}



	.content_area ul.list02 {margin:0 0 0 20px; padding:0; list-style:disc;}

	.content_area ul.list02 li {font:normal 12px/16px Arial, Helvetica, sans-serif; color:#000000; padding-bottom:4px;}

	.content_area ul.list02 li a {color:#999999; text-decoration:none;}

	.content_area ul.list02 li a:hover {color:#000000;}



	.content_area ol.list03 {margin:0 0 0 20px; padding:0; list-style:decimal;}

	.content_area ol.list03 li {font:normal 12px/16px Arial, Helvetica, sans-serif; color:#000000; padding-bottom:4px;}

	.content_area ol.list03 li a {color:#999999; text-decoration:none;}

	.content_area ol.list03 li a:hover {color:#000000;}



	.content_area ul.list04 {margin:0; padding:0; list-style:none; width:170px; float:left;}

	.content_area ul.list04 li {font:normal 14px/20px Arial, Helvetica, sans-serif; color:#000000;}

	.content_area ul.list04 li a {color:#000000; text-decoration:none;}

	.content_area ul.list04 li a:hover {color:#999999;}





	.content_popup {margin:0; padding:0; width:100%; height:100%; overflow:auto;}

	.content_popup h4 {font:bold 12px/20px Arial, Helvetica, sans-serif; color:#000000; text-transform:uppercase; padding:10px 10px 4px 10px;}

	.content_popup p {font:normal 12px/16px Arial, Helvetica, sans-serif; color:#000000; padding:0 10px; margin:0;}

	.content_popup p a {color:#999999; text-decoration:none;}

	.content_popup p a:hover {color:#000000;}



	.content_popup ul.list01 {margin:0 0 0 50px; padding:10px; list-style:none;}

	.content_popup ul.list01 li {font:normal 11px/24px Arial, Helvetica, sans-serif; color:#999999;}

	.content_popup ul.list01 li a {color:#999999; text-decoration:none;}

	.content_popup ul.list01 li a:hover {color:#000000;}



	.content_popup ul.list02 {margin:0 0 0 20px; padding:10px; list-style:disc;}

	.content_popup ul.list02 li {font:normal 12px/16px Arial, Helvetica, sans-serif; color:#000000; padding-bottom:4px;}

	.content_popup ul.list02 li a {color:#999999; text-decoration:none;}

	.content_popup ul.list02 li a:hover {color:#000000;}



	.content_popup ol.list03 {margin:0 0 0 20px; padding:10px; list-style:decimal;}

	.content_popup ol.list03 li {font:normal 12px/16px Arial, Helvetica, sans-serif; color:#000000; padding-bottom:4px;}

	.content_popup ol.list03 li a {color:#999999; text-decoration:none;}

	.content_popup ol.list03 li a:hover {color:#000000;}



	.content_popup ul.list04 {margin:0; padding:10px; list-style:none; width:20%; float:left;}

	.content_popup ul.list04 li {font:normal 14px/20px Arial, Helvetica, sans-serif; color:#000000;}

	.content_popup ul.list04 li a {color:#000000; text-decoration:none;}

	.content_popup ul.list04 li a:hover {color:#999999;}



	table.poup {margin:0; padding:10px;}

	table.poup td {border:1px solid #999999; border-collapse:collapse; padding:4px 10px;}



	a.tt {position:relative; z-index:24; display:block; text-indent:-5000px; text-decoration:none;}



	a.tt:hover div.tooltip {display:block; position:absolute; bottom:10px; left:150px; padding:10px 20px 20px 10px; width:114px; height:40px; font:normal 13px/16px "Gotham-Light"; color:#000000; text-indent:0; background: url(../images/bubble.png) no-repeat top; text-decoration:none;}



	a.tt:hover div.tooltip2 {display:block; position:absolute; bottom:90px; left:300px; padding:10px 10px 20px 10px; width:124px; height:40px; font:normal 13px/16px "Gotham-Light"; color:#000000; text-indent:0; background: url(../images/bubble.png) no-repeat top; text-decoration:none;}



	a.tt:hover div.tooltip3 {display:block; position:absolute; bottom:90px; left:300px; padding:10px 10px 20px 10px; width:124px; height:40px; font:normal 13px/16px "Gotham-Light"; color:#000000; text-indent:0; background: url(../images/bubble.png) no-repeat top; text-decoration:none;}



	a.tt:hover div.tooltip4 {display:block; position:absolute; bottom:100px; left:70px; padding:10px 25px 20px 10px; width:109px; height:40px; font:normal 13px/16px "Gotham-Light"; color:#000000; text-indent:0; background: url(../images/bubble.png) no-repeat top; text-decoration:none;}



	a.tt:hover div.tooltip5 {display:block; position:absolute; bottom:110px; left:195px; padding:10px 25px 20px 10px; width:109px; height:40px; font:normal 13px/16px "Gotham-Light"; color:#000000; text-indent:0; background: url(../images/bubble.png) no-repeat top; text-decoration:none;}





	#create_account {margin:0 auto; padding:0; width:960px; height:auto; min-height:600px; background:url(../images/account-bg.jpg) no-repeat right top;}

	#tagline_account {margin:0; padding:0; width:960px; height:auto; float:left; font:normal 24px/74px "Gotham-Light"; color:#000000;}




	#content_account h4 {font:normal 13px/30px "Gotham-Light"; color:#000000; text-transform:uppercase; padding-bottom:10px;}

	#content_account h4 span {font:normal 12px/30px "Gotham-Light"; color:#999999; text-transform:none;}

	#content_account h4 a {color:#000000; text-decoration:none;}

	#content_account h4 a:hover {color:#000000; text-decoration:underline;}



	#content_account h2 {font:normal 20px/20px "Gotham-Light"; color:#000000;}

	#content_account h6 {font:normal 18px/20px "Gotham-Light"; color:#000000; padding-bottom:5px;}

	#content_account h6 span {font:normal 12px/20px "Gotham-Light"; color:#999999;}

	#content_account h6 span a {color:#999999; text-decoration:none;}

	#content_account h6 span a:hover {color:#000000;}



	#content_account h5 {font:bold 16px/20px "Gotham-Light"; color:#000000;}

	#content_account h5 span {font:normal 16px/20px "Gotham-Light"; color:#000000;}

	#content_account h3 {font:normal 24px/30px "Gotham-Light"; color:#000000; padding-bottom:20px;}



	#content_account .lable01 {margin:4px 0; padding:0; width:150px; height:auto; float:left; font:normal 15px/18px "Gotham-Light"; color:#000000;}

	#content_account .lable01 span {color:#999999;}

	#content_account .field01 {margin:4px 0; padding:0; width:335px; height:auto; float:left; font:normal 15px/18px "Gotham-Light"; color:#000000;}



	#content_account input[type="text"] {margin:0; padding:2px; width:auto; height:auto; background-color:#FFFFFF; border:1px solid #000000; font-family:Arial, Helvetica, sans-serif; color:#000000; font-size:11px;}

	#content_account input[type="password"] {margin:0; padding:2px; width:auto; height:auto; background-color:#FFFFFF; border:1px solid #000000; font-family:Arial, Helvetica, sans-serif; color:#000000; font-size:11px;}

	#content_account textarea {margin:0; padding:2px; width:auto; height:auto; background-color:#FFFFFF; border:1px solid #000000; font-family:Arial, Helvetica, sans-serif; color:#000000; font-size:11px; overflow:auto;}

	#content_account select {margin:0; padding:1px 2px; width:auto; height:auto; background-color:#FFFFFF; border:1px solid #000000; font-family:Arial, Helvetica, sans-serif; color:#000000; font-size:11px; width:186px;}

	#content_account input[type="file"] {margin:1px 0; padding:2px; width:auto; height:auto; background-color:#FFFFFF; border:1px solid #000000; font-family:Arial, Helvetica, sans-serif; color:#000000; font-size:11px;}



	#content_account .lable02 {margin:4px 0; padding:0; width:100px; height:auto; float:left; font:normal 13px/18px "Gotham-Light"; color:#000000;}

	#content_account .field02 {margin:4px 0; padding:0; width:180px; height:auto; float:left; font:normal 15px/18px "Gotham-Light"; color:#000000;}



	#sidemenu_account {margin:0; padding:0; width:180px; height:auto; min-height:530px; float:left; background:url(../images/gradient3.gif) no-repeat right top;}

	#sidemenu_account h5 {font:normal 13px/30px "Gotham-Light"; color:#000000; text-transform:uppercase;}

	#sidemenu_account ul {margin:20px 0 0 25px; padding:0; list-style:none;}

	#sidemenu_account ul li {margin:0; padding:0; font:normal 11px/21px "Gotham-Light"; color:#999999; text-transform:uppercase;}

	#sidemenu_account ul li a {color:#999999; text-decoration:none;}

	#sidemenu_account ul li a:hover, #sidemenu_account ul li a.select {color:#000000; text-decoration:none;}



	#sidemenu_account #add_box {margin:130px 0 0 0; padding:0; width:179px; height:auto; float:left;}

	#sidemenu_account #add_box .top {margin:0; padding:0; width:179px; height:15px; background:url(../images/addtop.gif) no-repeat top; line-height:0; font-size:0;}

	#sidemenu_account #add_box .bot {margin:0; padding:0; width:179px; height:15px; background:url(../images/addbot.gif) no-repeat top; line-height:0; font-size:0;}

	#sidemenu_account #add_box .mid {margin:0; padding:0 15px; width:149px; height:auto; background:url(../images/addbg.gif) repeat-y top;}

	#sidemenu_account #add_box .mid h4 {font:normal 16px/20px "Gotham-Light"; color:#000000;}

	#sidemenu_account #add_box .mid h6 {font:bold 12px/20px "Gotham-Light"; color:#000000;}

	#sidemenu_account #add_box .mid p {font:normal 13px/18px "Gotham-Light"; color:#000000; text-transform:uppercase;}




	.add_pop01 {margin:0; padding:0; width:307px; height:auto; position:absolute; top:-20px; left:250px;}

	.add_pop01 .poptop {margin:0; padding:0; width:307px; height:10px; background:url(../images/add-popcorner.png) no-repeat top; line-height:0; font-size:0;}

	.add_pop01 .popbot {margin:0; padding:0; width:307px; height:15px; background:url(../images/add-popcorner.png) no-repeat bottom; line-height:0; font-size:0;}

	.add_pop01 .popmid {margin:0; padding:0 17px 0 10px; width:280px; height:auto; background:url(../images/add-popbg.png) repeat-y top;}



	.add_pop02 {margin:0; padding:0; width:307px; height:auto; position:absolute; top:175px; left:250px;}

	.add_pop02 .poptop {margin:0; padding:0; width:307px; height:10px; background:url(../images/add-popcorner.png) no-repeat top; line-height:0; font-size:0;}

	.add_pop02 .popbot {margin:0; padding:0; width:307px; height:15px; background:url(../images/add-popcorner.png) no-repeat bottom; line-height:0; font-size:0;}

	.add_pop02 .popmid {margin:0; padding:0 17px 0 10px; width:280px; height:auto; background:url(../images/add-popbg.png) repeat-y top;}



	.add_pop03 {margin:0; padding:0; width:307px; height:auto; position:absolute; top:305px; left:400px;}

	.add_pop03 .poptop {margin:0; padding:0; width:307px; height:10px; background:url(../images/add-popcorner.png) no-repeat top; line-height:0; font-size:0;}

	.add_pop03 .popbot {margin:0; padding:0; width:307px; height:15px; background:url(../images/add-popcorner.png) no-repeat bottom; line-height:0; font-size:0;}

	.add_pop03 .popmid {margin:0; padding:0 17px 0 10px; width:280px; height:auto; background:url(../images/add-popbg.png) repeat-y top;}



	#sidemenu_account2 {margin:0; padding:0; width:180px; height:auto; min-height:420px; float:left;}

	.error404 {font:normal 60px/60px "Fiolex Girls"; color:#000000; text-align:center;}



	#sidemenu22 {
            margin:0 0 0 0;
            padding:0;
            width:200px;
            height:100%;
            float:left;
            border:none;
            font:Arial, Helvetica, sans-serif;
            text-decoration:none;
            text-transform:uppercase;
        }

ul#menu, ul#menu ul {

  list-style-type:none;

  margin: 5px 0 0 0;

  padding: 0;

  width: 150px;

  text-decoration:none;

  text-transform:uppercase;

  border:0;

  font-size:12px;

  color:#000;

}



ul#menu a {

  display: block;

  text-decoration: none;

  font-family:Arial, Helvetica, sans-serif;

  font-weight:bold;

  font-size:11px;

  margin: 0 0 0 15px;

  text-transform:uppercase;

}



ul#menu li {

  margin:0 0 5px 0; padding:0;  font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; text-transform:uppercase; font-weight:bold;

}



ul#menu li a {

  color:#000000; text-decoration:none; text-transform:uppercase; margin: 0 0 0 10px;

}



ul#menu li a.last {background:none; text-transform:uppercase;}



ul#menu li a:hover {

color:#000000; text-decoration:none; text-transform:uppercase;

}


ul#menu li ul li a {

  text-transform:uppercase; margin:2px 0 4px 25px; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#666666;; background:none; font-weight:normal;

}



ul#menu li ul li a:hover {

color:#000000;

}






ul#menu2222, ul#menu2222 ul {

  list-style-type:none;

  margin: 0 1px 0 0;

  padding: 0;

  width: 150px;

  text-decoration:none;

  text-transform:uppercase;

  border:0;

  font-size:12px;

  color:#000;

}



ul#menu2222 a {

  display: block;

  text-decoration: none;

  font-family:Arial, Helvetica, sans-serif;

  font-weight:bold;

  font-size:11px;

  margin: 0 0 0 15px;

  text-transform:uppercase;

}



ul#menu2222 li {

  margin:0 0 5px 0; padding:0;  font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; text-transform:uppercase; font-weight:bold;

}



ul#menu2222 li a {

  color:#000000; text-decoration:none; text-transform:uppercase; margin: 0 0 0 10px;

}



ul#menu2222 li a.last {background:none; text-transform:uppercase;}



ul#menu2222 li a:hover {

color:#000000; text-decoration:none; text-transform:uppercase;

}


ul#menu2222 li ul li a {

  text-transform:uppercase; margin:2px 0 4px 25px; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#666666;; background:none; font-weight:normal;

}



ul#menu2222 li ul li a:hover {

color:#000000;

}



#content_account2 {margin:0; padding:0 30px; width:720px; height:auto; float:left;}

	#content_account2 p {font:normal 15px/18px "Gotham-Light"; color:#000000;}

	#content_account2 p a {color:#999999; text-decoration:none;}

	#content_account2 p a:hover {color:#333333; text-decoration:none;}

	#content_account2 p span.grey {color:#999999;}

	#content_account2 p span {font:normal 12px/18px "Gotham-Light"; color:#000000;}





	#content_account2 h4 {font:normal 13px/30px "Gotham-Light"; color:#000000; text-transform:uppercase; padding-bottom:10px;}

	#content_account2 h4 span {font:normal 12px/30px "Gotham-Light"; color:#999999; text-transform:none;}

	#content_account2 h4 a {color:#000000; text-decoration:none;}

	#content_account2 h4 a:hover {color:#000000; text-decoration:underline;}



	#content_account2 h2 {font:normal 20px/20px "Gotham-Light"; color:#000000;}

	#content_account2 h6 {font:normal 18px/20px "Gotham-Light"; color:#000000; padding-bottom:5px;}

	#content_account2 h6 span {font:normal 12px/20px "Gotham-Light"; color:#999999;}

	#content_account2 h6 span a {color:#999999; text-decoration:none;}

	#content_account2 h6 span a:hover {color:#000000;}



	#content_account2 h5 {font:bold 16px/20px "Gotham-Light"; color:#000000;}

	#content_account2 h5 span {font:normal 16px/20px "Gotham-Light"; color:#000000;}

	#content_account2 h3 {font:normal 24px/30px "Gotham-Light"; color:#000000; padding-bottom:20px;}



	#content_account2 .lable01 {margin:4px 0; padding:0; width:120px; height:auto; float:left; font:normal 15px/18px "Gotham-Light"; color:#000000;}

	#content_account2 .lable01 span {color:#999999;}

	#content_account2 .field01 {margin:4px 0; padding:0; width:210px; height:auto; float:left; font:normal 15px/18px "Gotham-Light"; color:#000000;}



	#content_account2 input[type="text"] {margin:0; padding:2px; width:auto; height:auto; background-color:#FFFFFF; border:1px solid #000000; font-family:Arial, Helvetica, sans-serif; color:#000000; font-size:11px;}

	#content_account2 input[type="password"] {margin:0; padding:2px; width:auto; height:auto; background-color:#FFFFFF; border:1px solid #000000; font-family:Arial, Helvetica, sans-serif; color:#000000; font-size:11px;}

	#content_account2 textarea {margin:0; padding:2px; width:auto; height:auto; background-color:#FFFFFF; border:1px solid #000000; font-family:Arial, Helvetica, sans-serif; color:#000000; font-size:11px; overflow:auto;}

	#content_account2 select {margin:0; padding:1px 2px; width:auto; height:auto; background-color:#FFFFFF; border:1px solid #000000; font-family:Arial, Helvetica, sans-serif; color:#000000; font-size:11px;}

	#content_account2 input[type="file"] {margin:1px 0; padding:2px; width:auto; height:auto; background-color:#FFFFFF; border:1px solid #000000; font-family:Arial, Helvetica, sans-serif; color:#000000; font-size:11px;}



	#content_account2 .lable02 {margin:4px 0; padding:0; width:100px; height:auto; float:left; font:normal 13px/18px "Gotham-Light"; color:#000000;}

	#content_account2 .field02 {margin:4px 0; padding:0; width:180px; height:auto; float:left; font:normal 15px/18px "Gotham-Light"; color:#000000;}

	.wrapper {

	margin: 0 auto;
	width: 960px;

}


/*------------------------
	---------------- NAVS
	------------------------*/


		/*------------------------
		--------------- LEFT ARROW
		------------------------*/

		/* Sets position and main configs */
		.slider_arrow_left {
	bottom: 15px;
	cursor: pointer !important;
	float: left;
	height: 22px;
	left: 22px;
	position: absolute;
	width: 22px;
	z-index: 5;
		}

		/* left arrow image */
		.slider_arrow_left {

			background: url(../images/left_arrow.png) no-repeat top left;

		}


		/*------------------------
		-------------- RIGHT ARROW
		------------------------*/

		/* Sets position and main configs */
		.slider_arrow_right {
	bottom: 15px;
	cursor: pointer;
	float: left;
	height: 22px;
	left: 48px;
	position: absolute;
	width: 22px;
	z-index: 5;
		}

		/* Right arrow Background */
		.slider_arrow_right {

			background: url(../images/right_arrow.png) no-repeat top left;

		}




	/*------------------------
	---------------- SELECTORS
	------------------------*/

	/* Sets configs for selectors containers : absolute positioned in relation to #slider */
	.slider_selector, .slider_selector_dis {
	bottom: 2px;
	list-style: none;
	margin: 0 0 0 5px;
	position: absolute;
	right: 20px;
	z-index: 5;
	}

		/* Sets image of selectors */
		.slider_selector li, .slider_selector_dis li {

			display: block !important;
			background: url(../images/slider_selector.png) no-repeat top left;
			cursor: pointer;
			float: left;
			margin: 0 3px !important;
			height: 10px !important;
			position: relative !important;
			width: 10px !important;

		}

		/* Sets the current selector */
		.slider_selector li.current, .slider_selector_dis li.current {

			background: url(../images/slider_selector_current.png) no-repeat top left;

		}

	/* Disables the selectors */
	.slider_selector_dis li {

		cursor: default !important;
		z-index: 5;

	}



	.container1 {

		float: left;
		position: relative;
		width: 100%;
		z-index: 15;

	}



#signupBG {
	background-image:url(../images/signup_popup.jpg);
	width:447px;
	height:265px;
	text-align:center;
	position: absolute;
	top: 250px;
	left: 50%;
	z-index:15;
	margin-left:-223px;
	margin-top:-132px;
	display:none;
}

#signupSuccessBG {
	background-image:url(../images/signup_complete.jpg);
	width:447px;
	height:265px;
	text-align:center;
	position: absolute;
	top: 250px;
	left: 50%;
	z-index:15;
	margin-left:-223px;
	margin-top:-132px;
}


#signupFormArea {
	position:absolute;
	bottom:24px;
	left:137px;
	text-align:left;
	z-index:25;
}

.emailaddressClass {
	background:#e6e5e5;
	width:190px;
	height:18px;
}

#popupsubmitbutton{
	width:60;
	height:18px;
	background:#FFF;
	border:none;
	z-index:55;
}

#signupPopupClose{
	position:absolute;
	width:447px;
	height:25px;
	text-align:center;
	position: absolute;
	top: 250px;
	left: 50%;
	margin-left:-223px;
	margin-top:-132px;
	text-align:right;
	z-index:25;
	border:none;
	font:Arial, Helvetica, sans-serif;
	color:#000;
	display:none;
}

.b-filter {
    margin-bottom: 10px;
    margin-right: 1px;
    border-bottom: 1px solid #ccc;
}

.b-filter__inner {
    margin-bottom: 1px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.b-filter__reset {
    color: #db7202;
    text-decoration: none;
}

.b-filter__list__dl-list {
    margin: 0 20px;
}

.b-filter__list__dt {
    font-size: 11px;
    color: #737373;
    display: inline;
}

.b-filter__list__dd {
    font-size: 11px;
    font-weight: bold;
    color: #000;
    display: inline;
}

.b-filter__close {
    font-size: 11px;
    color: #db7202;
    text-decoration: none;
}

.b-filter__reset {
    display: block;
    margin: 5px 0 0 20px;
    font-size: 11px;
    color: #db7202;
    text-decoration: none;
}

.b-filter__title {
    margin-left: 20px;
    margin-bottom: 10px;
    font-style: italic;
}

.b-filter__list__close_wrap {
    display: inline-block;
}
.red {color:#F00;}

.popup-fixed {position: fixed;top: 0;bottom: 0;left: 0;right: 0;width: 100%;height:100%;background: url('../images/popup_bg.png') 0 0 repeat;z-index: 5000;display: none}
.popup-box {border: 4px solid #666;position: absolute;width: 443px;height: 209px;position: fixed;top: 50%;left: 50%;margin: -222px 0 0 -105px;z-index: 5500;background: #FFF;display:none}
.closeX {position: absolute;color: #FFF;font-size:18px;top: -26px;right:-20px;padding:3px;font-weight:bold;text-decoration: none;background: #666;line-height:15px;
         -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
         border-radius: 3px; }


#SLB-Wrapper {
	margin:0.5em 0;
	margin:auto;
	font-family:Verdana;
	text-align: left;
	position: absolute;
}
#SLB-Wrapper #SLB-Background {
	position: absolute;
	left:7px;
	top:7px;
	float:left; width:auto;
}
#SLB-Wrapper #SLB-Top {
	background:transparent no-repeat scroll 100% 0;
	height:28px;
	margin:0 0 0 18px;
}
#SLB-Wrapper #SLB-Top img {
	float:right;
	border:0px;
	margin:6px 10px;
}
#SLB-Wrapper #SLB-Top div {
	background:transparent no-repeat scroll 0 0;
	font-size:0;
	height:28px;
	left:-18px;
	line-height:0;
	position:relative;
	width:18px;
}
#SLB-Wrapper #SLB-Bottom {
	background:transparent no-repeat scroll 0 43%;
	height:20px;
	margin:0 18px 0 0;
}
#SLB-Wrapper #SLB-Bottom #SLB-BottomRight {
	background:transparent no-repeat scroll 100% 43%;
	font-size:0;
	height:20px;
	right:-18px;
	line-height:0;
	position:relative;
	width:100%;
	float:right;
}
#SLB-Wrapper #SLB-Bottom.SLB-bbnav, #SLB-Wrapper #SLB-Bottom.SLB-bbnav #SLB-BottomRight {
	height:52px;
}
#SLB-Wrapper #SLB-Bottom.SLB-bbnav {
	background-position:0 100%;
}
#SLB-Wrapper #SLB-Bottom.SLB-bbnav #SLB-BottomRight {
	background-position:100% 100%;
}
#SLB-Wrapper #SLB-Contenido {
	border-left: 7px solid #991419;
	border-right: 7px solid #991419;
}
#SLB-Wrapper #SLB-Bottom #SLB-Navegador {
	font-size: 11px;
	color: #fff;
	height:30px;
	border-left:0px;
	border-right:0px;
	padding:10px 0px;
	margin:0;
	line-height:11px;
	float:left;
	width:100%;
}
#SLB-Wrapper #SLB-Navegador img {
	border:0px;
}
#SLB-Wrapper #SLB-Navegador strong {
	display: block;
}
#SLB-Wrapper #SLB-Bottom #SLB-Navegador img.btLeft {
	float: left;
	margin: 0 10px 0 0;
}
#SLB-Wrapper #SLB-Bottom #SLB-Navegador img.btRight {
	float: right;
	margin: 0 0 0 10px;
	position:relative;
	right:17px;
}


/*****************************************************************************
/*****************************************************************************
/* @media queries */
/*****************************************************************************
/*****************************************************************************/
@media (max-width: 979px) {
	#store_subnav_wrapper{
		position: relative;
	}
	ol,ul{ margin: 0;}
	.hdr-search{ float: left;}
}

