<?xml version="1.0"?>
<config>
    <modules>
        <Icu_Videos>
            <version>0.1.0</version>
        </Icu_Videos>
    </modules>
    <frontend>
        <routers>
            <videos>
                <use>standard</use>
                <args>
                    <module>Icu_Videos</module>
                    <frontName>videos</frontName>
                </args>
            </videos>
        </routers>
        <layout>
            <updates>
                <videos>
                    <file>videos.xml</file>
                </videos>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<videos>
				<use>admin</use>
				<args>
					<module>Icu_Videos</module>
					<frontName>videos</frontName>
				</args>
			</videos>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<videos module="videos">
				<title>Videos</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="videos">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>videos/adminhtml_videos</action>
					</items>
				</children>
			</videos>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Icu_Videos>
							<title>Videos Module</title>
							<sort_order>10</sort_order>
						</Icu_Videos>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<videos>
					<file>videos.xml</file>
				</videos>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <videos>
                <class>Icu_Videos_Model</class>
                <resourceModel>videos_mysql4</resourceModel>
            </videos>
            <videos_mysql4>
                <class>Icu_Videos_Model_Mysql4</class>
                <entities>
                    <videos>
                        <table>videos</table>
                    </videos>
                </entities>
            </videos_mysql4>
        </models>
        <resources>
            <videos_setup>
                <setup>
                    <module>Icu_Videos</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </videos_setup>
            <videos_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </videos_write>
            <videos_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </videos_read>
        </resources>
        <blocks>
            <videos>
                <class>Icu_Videos_Block</class>
            </videos>
        </blocks>
        <helpers>
            <videos>
                <class>Icu_Videos_Helper</class>
            </videos>
        </helpers>
    </global>
</config>