<?xml version="1.0"?>
	<!--
		/** * Blue Fountain Media * * NOTICE OF LICENSE * *
		<notice_of_license> * * @category BFM * @package BFM_CanonicalUrl *
		@copyright Copyright (c) 2011 Blue Fountain Media
		(http://www.bluefountainmedia.com/). All Rights Reserved. * @license
		<license_url> */
	-->
<config>
	<modules>
		<BFM_CanonicalUrl>
			<version>0.1.0</version>
		</BFM_CanonicalUrl>
	</modules>
	<admin>
		<routers>
			<canonicalurl>
				<use>admin</use>
				<args>
					<module>BFM_CanonicalUrl_Manage</module>
					<frontName>canonicalurl</frontName>
				</args>
			</canonicalurl>
		</routers>
	</admin>
	<frontend>
		<layout>
			<updates>
				<canonicalurl>
					<file>bfm_canonicalurl.xml</file>
				</canonicalurl>
			</updates>
		</layout>
	</frontend>
	<global>
	    <models>
            <sitemap_mysql4>
                <rewrite>
                    <catalog_product>BFM_CanonicalUrl_Model_Sitemap_Catalog_Product</catalog_product>
                </rewrite>
            </sitemap_mysql4>
            <canonicalurl>
                <class>BFM_CanonicalUrl_Model</class>
            </canonicalurl>
        </models>
		<resources>
			<canonicalurl_setup>
				<setup>
					<module>BFM_CanonicalUrl</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</canonicalurl_setup>
		</resources>
		<helpers>
			<canonicalurl>
				<class>BFM_CanonicalUrl_Helper</class>
			</canonicalurl>
		</helpers>
		<blocks>
			<page>
				<rewrite>
					<html_head>BFM_CanonicalUrl_Block_Head</html_head>
				</rewrite>
			</page>
		</blocks>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<canonicalurl>
											<title>CanonicalUrl Section</title>
										</canonicalurl>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<canonicalurl>
			<settings>
				<endslash>1</endslash>
				<product>1</product>
			</settings>
		</canonicalurl>
	</default>
</config>
